<div class="flex lg:flex-row flex-col lg:space-x-4">
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Số Lượng 1 Bán</mat-label>
      <input [(ngModel)]="SellData.Soluong" [ngModelOptions]="{standalone: true}"
       matInput placeholder="Số Lượng 1 Bán">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phí Giao Dịch</mat-label>
      <input [(ngModel)]="SellData.Phiban" [ngModelOptions]="{standalone: true}" matInput placeholder="Phí Giao Dịch">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>2 Nhận Được</mat-label>
      <input [(ngModel)]="SellData.DVNhan" [ngModelOptions]="{standalone: true}" matInput placeholder="2 Nhận Được">
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Tài Khoản 2 Khách Hàng</mat-label>
      <input [(ngModel)]="SellData.TK2KH" [ngModelOptions]="{standalone: true}" matInput placeholder="Tài Khoản 2 Khách Hàng">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tài Khoản 1 Người Bán</mat-label>
      <input [(ngModel)]="SellData.TK1KH" [ngModelOptions]="{standalone: true}" matInput placeholder="Tài Khoản 1 Người Bán">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tài Khoản 1 Công Ty</mat-label>
      <input [(ngModel)]="SellData.TK1Cty" [ngModelOptions]="{standalone: true}" matInput placeholder="Tài Khoản 1 Công Ty">
    </mat-form-field>
  </div>
</div>
<mat-form-field appearance="outline" class="w-full">
  <mat-label>Nội Dung</mat-label>
  <textarea [(ngModel)]="SellData.Noidungban" [ngModelOptions]="{standalone: true}" matInput placeholder="Nội Dung"></textarea>
</mat-form-field>
<div class="text-center">
  <a mat-raised-button color="primary" [routerLink]="['/transfer']" [queryParams]="SellData">Xác Nhận</a>
</div>