<div class="flex flex-col space-y-3">
<div class="flex flex-row justify-center space-x-4 max-w-xl mx-auto p-4 rounded-md bg-white">
  <a mat-stroked-button routerLink="seller">Sell</a>
  <a mat-stroked-button routerLink="buyer">Buy</a>
</div>
<div class="flex flex-col justify-center space-y-4 min-w-[792px] mx-auto p-4 rounded-md bg-white">
  <div class="flex flex-row justify-between text-xl text-green-600">
    <p>Mua Vào </p> 
    <p> 100.000</p>
  </div>
  <div class="flex flex-row justify-between text-xl text-red-600">
    <p>Bán Ra  </p> 
    <p>100.000</p>
  </div>
</div>
</div>