<div class="flex lg:flex-row flex-col lg:space-x-4">
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Số Lượng Táo Mua</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phí Giao Dịch</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Số Chuối Thanh Toán</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Tài Khoản 1 Khách Hàng</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email Người Mua</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tài Khoản 2 Công Ty</mat-label>
      <input matInput placeholder="Mô Tả">
    </mat-form-field>
  </div>
</div>
<mat-form-field appearance="outline" class="w-full">
  <mat-label>Nội Dung</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<div class="text-center">
  <a mat-raised-button color="primary" [routerLink]="['/transfer']">Xác Nhận</a>
</div>