<mat-drawer-container class="example-container bg-[#441E5B]" autosize>
  <mat-drawer #drawer class="example-sidenav w-1/3" mode="over" position="end">
    <app-livechat></app-livechat>
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content bg-[#291038] h-full w-full">
    <section class="h-full gradient-form bg-[#291038]">
      <div class="bg-[#441E5B] text-white mt-5">
        <div class="max-w-5xl h-20 flex flex-row justify-between items-center m-auto">
          <div class="w-full"><a class="m-auto text-center text-3xl w-48 p-3" routerLink="/">Logo Here</a></div>
          <div class="w-full flex flex-row justify-between items-center">
            <div class="flex flex-row space-x-4 w-full">
              <div [routerLink]="['/whychooseus']" routerLinkActive="underline underline-offset-8 decoration-white">WHY CHOOSE US</div>
              <div [routerLink]="['/contact']" routerLinkActive="underline underline-offset-8 decoration-white">CONTACT US</div>
            </div>
            <div [matMenuTriggerFor]="menu" class="!text-white flex flex-row justify-center items-center space-x-2">
              <span class="uppercase">{{langselect}} </span>
              <img [src]="ListImg[langselect]" class="w-5 h-5"/>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="langselect=lang">
                <div class="flex flex-row space-x-4 items-center">
                  <img [src]="ListImg[lang]" class="w-5 h-5"/>
                  <span>{{ListLang[lang]}}</span>
                </div>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>